.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  background-color: #E5E5E5;
}

.middle1 {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background-color: #ffffff;
  width: 1195px;
  height: 278px;
  border-radius: 10px;
  box-shadow: 2px 4px 19px rgba(0, 0, 0, 0.1);
}

.middle2 {
  /* display: flex; */
  margin: 30px;
  width: 1135px;
  height: 218px;
}

.header1 {
  position: relative;
}

.header2 {
  position: relative;
  width: 177px;
  height: 21px;
  padding-left: 30px;
  padding-right: 30px;
}

.header1 h3 {
  color: #4676E5;
  font-size: 25px;
  font-weight: 500;
  font-family: TT Commons;
}

.square_blue {
  position: absolute;
  background: #729CF0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.square_yellow {
  position: absolute;
  background: #CEE861;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.rect_blue {
  position: absolute;
  background: #729CF0;
  width: 810px;
  height: 34px;
  bottom: 550px;
}

.rect_yellow {
  position: absolute;
  background: #CEE861;
  width: 864px;
  height: 34px;
  bottom: 500px
}

.h_line {
  position: absolute;
  width: 1105px;
  height: 1px;
  background: black;
  bottom: 470px;
}

.vectors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  height: 11px;
  width: 1105px;
  display: flex;
  bottom: 465px;
}

.vector1, .vector2, .vector3, .vector4, .vector5, .vector6 {
  flex: 1;
  width: 0px;
  height: 11px;
  border-left: 1px solid black;
}

.vector7 {
  flex: 1;
  width: 0px;
  height: 11px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.nums {
  display: flex;
  flex-direction: start;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  bottom: 445px;
}

.num1 {
 width: 135px;
}
.num2, .num3, .num4, .num5, .num6, .num7, .num8 {
 width: 156px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 610px;
  left: 920px;
  height: 35px;
  width: 80px;
  background:#00C1CD;
  color: white;
}